langgraph
langgraph-prebuilt
langgraph-sdk
langsmith
langchain-community
langchain-core
langchain-openai
notebook
langgraph-cli[inmem]
langchain_groq
pandas
langchain-ollama
langchain_groq 
langchain
seaborn
matplotlib
streamlit
geopandas
plotly
statsmodels
streamlit_feedback
prophet
scikit-learn
tensorflow